<h2 class="text-primary" style="text-align: center;">Micro Frontend Shell app Default page works!</h2>
<div>
    <h3 style="text-align: center;">About the structure and deploímwnr</h3>
    <div style="display: flex; justify-content: center; align-items: center; height: 50vh;">
        <ul>
            <li>workspace
                <ul>
                    <li>projects
                        <ul>
                            <li>shell (main) app</li>
                            <li>mf-a (remote) app</li>
                            <li>mf-b (remote) app</li>
                            <li>lk-common-lib (contains only one component AngularVersionComponent)</li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Deployment steps
                <ol>
                    <li>npm run remove-dists</li>
                    <li>npm run build-all</li>
                    <li>npm run deploy-gh</li>
                </ol>
            </li>
        </ul>
    </div>
</div>
